<div class="row d-flex justify-content-center row-bg">


  <div class="col-6 bigcol d-flex justify-content-center flex-column align-items-center">
    <img src="./images/entrance.jpg" class="bigimg" />
    <h4>Good night!</h4>
  </div>

</div>