{{> nav_links}}

<!-- Page Content -->
<div class="container body-star">
  <div class="border-0 shadow my-card">

    <h1>My Stories</h1>

    <a href="/story-add" class="links">Add a Story</a>
    <hr>
    <ul>
      {{#each storyArray}}
      <li>
        <h4>{{this.name}}</h4>
        <h6>{{this.profession}}</h6>
        <a href="/your-story/{{this._id}}" class="links">Read her Story »</a>

      </li>

      {{/each}}
    </ul>


  </div>
</div>

{{> footer}}