<div class="container body-star">
  <div class="card border-0 shadow my-5">
    <div class="card-body p-5">
      <h1 class="font-weight-light">Rebel Girls</h1>
      <p class="lead">It's the end of the day, and it's been a very long day. You really need a shot of inspiration to
        get rid of all
        the bad feelings. Here you'll find amazing goodnight stories about the life
        of extraordinary women from the past and the present.
        Rebel Girls is inspired by the book by Elena Favilli and Francesca Cavallo.
        It's a platform for and by women, empowering all generations through the stories of those that believed in
        themselves.</p>

    </div>
  </div>
  <div class="d-flex">
    <a href="/signup" class="log-btn">Sign Up</a>
    <a href="/login" class="log-btn">Log In</a>
  </div>

</div>