<div class="row d-flex justify-content-center row-bg">


  <div class="col-6 bigcol d-flex justify-content-center flex-column align-items-center">

    <h1>Project Explanation</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices, orci et semper imperdiet, urna erat porta
      leo, in fringilla erat arcu sit amet enim. Phasellus pellentesque est vel maximus lobortis. Aliquam rhoncus
      scelerisque tellus id sollicitudin. Curabitur vel vulputate neque. Mauris ut magna nec purus rhoncus facilisis.
      Nam sapien metus, dapibus et iaculis in, scelerisque ut nulla.</p>
    <a href="/signup" class="button">Sign Up</a>
    <a href="/login" class="button">Log In</a>

  </div>

</div>