{{> nav_links}}

<a href="/powerless/patronized/story">Patronized</a>
<a href="/powerless/oppressed/story">Oppressed</a>
<a href="/powerless/discriminated/story">Discriminated</a>
<a href="/powerless/powerless/story">Powerless</a>
<a href="/powerless/undervalued/story">Undervalued</a>
<a href="/powerless/undecided/story">Undecided</a>