{{> nav_links}}
<a href="/patronized/mood2">Patronized</a>
<a href="/oppressed/mood2">Oppressed</a>
<a href="/discriminated/mood2">Discriminated</a>
<a href="/powerless/mood2">Powerless</a>
<a href="/undervalued/mood2">Undervalued</a>
<a href="/undecided/mood2">Undecided</a>