{{> nav_links}}

<div class="row d-flex justify-content-center body-star containerFixed containerFixed2">
<<<<<<< HEAD
  <div class="moodcol d-flex justify-content-center align-items-center mood-grid">
=======
  <div class="bigcol d-flex justify-content-center align-items-center mood-grid">
>>>>>>> fac3830a6188b0db93f6a1ea8509414bf7ff2e9d


    <div class="col-12 justify-content-center question ">
      <h1 class="question">How do you want to feel?</h1>
    </div>

    {{#each myArray}}
    <div class="col-lg-4 col-md-6 col-sm-12 key-layout d-flex justify-content-center">
      <a href="/{{this}}/story" class="keyword cercle-text d-flex justify-content-center align-items-center">
        <span>{{this}}</span>
      </a>
    </div>
    {{/each}}


  </div>
</div>