{{> nav_links}}


<div class="row d-flex justify-content-center body-star">


  <div class="col-9 bigcol d-flex justify-content-center align-items-center mood-grid">

    <div class="col-3 key-layout">
      <a href="/patronized/mood2" class="keyword">Patronized</a>
    </div>
    <div class="col-3 key-layout">
      <a href="/oppressed/mood2" class="keyword">Oppressed</a>
    </div>
    <div class="col-3 key-layout">
      <a href="/discriminated/mood2" class="keyword">Discriminated</a>
    </div>

    <div class="w-100"></div>

    <div class="col-3 key-layout">
      <a href="/powerless/mood2" class="keyword">Powerless</a>
    </div>
    <div class="col-3 key-layout">
      <a href="/undervalued/mood2" class="keyword">Undervalued</a>
    </div>
    <div class="col-3 key-layout">
      <a href="/undecided/mood2" class="keyword">Undecided</a>
    </div>
  </div>
</div>