{{> nav_links}}


<div class="row d-flex justify-content-center body-star">


  <div class="col-9 bigcol d-flex justify-content-center align-items-center mood-grid">

    <div class="col-4 key-layout">
      <a href="/patronized/mood2" class="keyword cercle-text">Patronized</a>
    </div>
    <div class="col-4 key-layout ">
      <a href="/oppressed/mood2" class="keyword cercle-text">Oppressed</a>
    </div>
    <div class="col-4  ey-layout ">
      <a href="/discriminated/mood2" class="keyword cercle-text">Discriminated</a>
    </div>



    <div class="col-4 key-layout">
      <a href="/powerless/mood2" class="keyword cercle-text">Powerless</a>
    </div>
    <div class="col-4 key-layout">
      <a href="/undervalued/mood2" class="keyword cercle-text">Undervalued</a>
    </div>
    <div class="col-4 key-layout">
      <a href="/undecided/mood2" class="keyword cercle-text">Undecided</a>
    </div>
  </div>
</div>