{{> nav_links}}


<div class="row d-flex justify-content-center body-star">
  <div class="col-9 bigcol d-flex justify-content-center align-items-center mood-grid">


    <div class="col-12 justify-content-center question ">
      <h1 class="question">How do you feel?</h1>
    </div>


    <div class="col-4 key-layout">
      <a href="/patronized/mood2" class="keyword cercle-text">patronized</a>
    </div>
    <div class="col-4 key-layout ">
      <a href="/oppressed/mood2" class="keyword cercle-text">oppressed</a>
    </div>
    <div class="col-4  ey-layout ">
      <a href="/discriminated/mood2" class="keyword cercle-text">discriminated</a>
    </div>



    <div class="col-4 key-layout">
      <a href="/powerless/mood2" class="keyword cercle-text">powerless</a>
    </div>
    <div class="col-4 key-layout">
      <a href="/undervalued/mood2" class="keyword cercle-text">undervalued</a>
    </div>
    <div class="col-4 key-layout">
      <a href="/undecided/mood2" class="keyword cercle-text">Undecided</a>
    </div>
  </div>
</div>