{{> nav_links}}
<a class="link-text" href="/patronized/mood2">Patronized</a>
<a class="link-text" href="/oppressed/mood2">Oppressed</a>
<a class="link-text" href="/discriminated/mood2">Discriminated</a>
<a class="link-text" href="/powerless/mood2">Powerless</a>
<a class="link-text" href="/undervalued/mood2">Undervalued</a>
<a class="link-text" href="/undecided/mood2">Undecided</a>