{{!-- <h1>Home Page</h1>

{{> flash_messages}}

{{#if currentUser}}
<h3>Welcome back, {{currentUser.userName}}!</H3>
{{else}}

<h3>Welcome to Rebel Stories!</h3>


{{/if}} --}}

<div class="row d-flex justify-content-center row-bg enterView containerFixed">


  <div class="col-6 d-flex justify-content-center flex-column align-items-center">
    <img src="./images/entrance.jpg" class="bigimg" />
    <a href="/home"><button class="enterButton">Enter</button></a>
  </div>

</div>