body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.my-container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

h4 {
  color: white;
}
.link-text {
  color: #fcf8ec;
  padding: 8px;
  text-decoration: none;
}

.username {
  color: #fcf8ec;
  align-self: center;
  font-size: 18px;
}

a {
  color: #fcf8ec;
}

a:hover {
  text-decoration: none;
}

.justify-content-end {
  justify-content: flex-end;
}

.menu-nav {
  text-align: right;
}

// .collapse-btn {
//   border: 1px solid #b5d3de;
// }

.bigcol {
  margin: 50px;
}

.row-bg {
  background-color: #233256;
}
.bigimg {
  height: 550px;
  object-fit: contain;
}
.bg-blue {
  background-color: #233256;
  padding: 2px 16px;
}

// .block {
//   display: block;
// }

.my-form {
  padding: 40px;
  border-radius: 6px;
  background-color: #fcf8ec;
}

label {
  display: block;
}

input {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 6px;
  height: 36px;
  width: 300px;
  margin: 6px 0;
}

.error-message {
  color: #c5352a;
  padding: 12px;
  border: 1px solid #eec8cb;
  background-color: #f3d8da;
  border-radius: 3px;
  margin-bottom: 18px;
}

ul {
  list-style-type: none;
}

.button {
  color: #fcf8ec;
  display: block;
  border-radius: 4px;
  background-color: #5fa7b3;
  text-align: center;
  text-decoration: none;
  width: 160px;
  height: 50px;
  padding: 15px;
  margin: auto;
  margin: 24px auto 0;
  box-shadow: 1px 1px #262d3f;
}

footer {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 16px;
  text-align: center;
  color: #b5d3de;
  background-color: #233256;
}

h2 {
  margin-bottom: 24px;
}

p {
  margin-bottom: 0px;
}
