@import url(“https://fonts.googleapis.com/css?family=Lato“);
@import url("https://fonts.googleapis.com/css?family=Shrikhand");

body {
  font-family: "Lato", sans-serif;
  // font-size: 12px;
}

.my-nav-link {
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

.enterView {
  height: 100%;
}

.body-star {
  background: url("../images/starbackg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  //text-align: center;
  margin: 0;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log-btn {
  color: white;
  font-size: 14px;
  background-color: #3c5175;
  display: block;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  width: 160px;
  height: 50px;
  padding: 15px;
  margin: 20px 10px;
  box-shadow: none;
}

.log-btn:hover,
.log-btn:active {
  color: lightblue;
  text-decoration: none;
}

.centerLog {
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: unset;
}

.bg-100 {
  height: 100%;
}

.card {
  width: 600px;
  height: 400px;
  margin: 0 !important;
}
.my-container {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100vh;
}

////      Story Pages      ////

.my-card {
  width: 90%;
  height: fit-content;
  margin: 0 !important;
  padding: 40px;
  border-radius: 6px;
  background-color: white;
}
h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
  color: #233256;
  margin-bottom: 12px;
}

h4 {
  color: #333333;
  font-weight: 900;
}

h6 {
  text-transform: uppercase;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 900;
}

p {
  font-size: 16px;
  margin-bottom: 12px;
}

.quote {
  font-family: "Shrikhand", sans-serif;
  font-size: 24px;
  color: #3c5075;
}

.story-img {
  object-fit: contain;
  height: 250px;
  width: 100%;
  // display: block;
}

.links {
  color: #6683a3;
  text-decoration: none;
}

.links:hover,
.links:active {
  color: #3c5075;
  text-decoration: none;
}

hr {
  border-top: 1px solid #3c5075;
}

li {
  margin-bottom: 18px;
}

story-bg {
  background: url("../images/eufrosina.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  //text-align: center;
  margin: 0;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

//////////////////////////////////////////////////

.question {
  font-family: "Shrikhand", sans-serif;
  font-size: 40px;
}
.questionbox {
  display: inline-block;
}

.justify-content-end {
  justify-content: flex-end;
}

.bigcol {
  margin: 50px;
}

.row-bg {
  background-color: #233256;
}
.storyform-bkg {
  background: url("../images/starbackg.jpg") no-repeat center center fixed;
}

.bigimg {
  height: 550px;
  object-fit: contain;
}

////      Sign-up / Log-in forms      ////

.my-form {
  padding: 40px;
  border-radius: 6px;
  background-color: white;
}

label {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

input {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 6px;
  height: 36px;
  width: 300px;
  margin: 6px 0;
}

.success-message {
  color: #2b562b;
  padding: 12px;
  border: 1px solid #97b398;
  background-color: #d9ecdb;
  border-radius: 3px;
  margin-bottom: 18px;
}

.error-message {
  color: #c5352a;
  padding: 12px;
  border: 1px solid #eec8cb;
  background-color: #f3d8da;
  border-radius: 3px;
  margin-bottom: 18px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.button {
  color: white;
  font-size: 14px;
  background-color: #3c5175;
  display: block;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  width: 160px;
  height: 50px;
  padding: 15px;
  margin: auto;
  margin: 18px auto 0;
  box-shadow: none;
  border: none;
}

.button:hover,
.button:active {
  color: lightblue;
  text-decoration: none;
}

.enterButton {
  color: #fcf8ec;
  border-radius: 4px;
  background-color: #5fa7b3;
  text-align: center;
  text-decoration: none;
  width: 160px;
  height: 50px;
  padding: 15px;
  margin: auto;
  box-shadow: none;
}

.myFooter {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 16px;
  text-align: center;
  color: #b5d3de;
  background-color: #233256;
  display: flex;
  align-items: flex-end;
}

//////////////////////////////////////////////////

// Keyword display mood1/2

.mood-grid {
  flex-direction: row;
  flex-wrap: wrap;

  margin-right: 0;
  margin-left: 0;
}

.keyword {
  padding: 20px;
  // height: 100px;
  // width: 100px;
  border-radius: 100px;
  background-color: #233256;
  font-family: Lato;
  font-size: 18px;
  font-weight: bolder;
}

.key-layout {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.cercle-text {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;

  height: 150px;
  width: 150px;

  &:hover,
  &:active {
    color: lightblue;
    text-decoration: none;
  }
}

@media (max-width: 576px) {
  .mood-grid {
    flex-direction: column;
  }
}
