@charset "UTF-8";
@import url(“https://fonts.googleapis.com/css?family=Lato“);
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
body {
  font-family: "Lato", sans-serif;
  font-size: 12px; }

.my-nav-link {
  font-family: "Lato", sans-serif;
  font-size: 15px; }

.enterView {
  height: 100%; }

.body-star {
  background: url("../images/starbackg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin: 0;
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.log-btn {
  margin: 20px 10px;
  color: #fcf8ec;
  display: block;
  border-radius: 4px;
  background-color: #5fa7b3;
  text-align: center;
  text-decoration: none;
  width: 160px;
  height: 50px;
  padding: 15px;
  box-shadow: none; }

.centerLog {
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: unset; }

.bg-100 {
  height: 100%; }

.card {
  width: 600px;
  height: 400px;
  margin: 0 !important; }

.my-container {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100vh; }

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 30px; }

h4 {
  color: black;
  font-family: "Shrikhand", sans-serif;
  font-size: 30px; }

.link-text {
  color: white;
  padding: 8px;
  text-decoration: none; }

.username {
  color: #fcf8ec;
  align-self: center;
  font-size: 18px; }

a {
  color: black; }

a:hover {
  text-decoration: none; }

.justify-content-end {
  justify-content: flex-end; }

.menu-nav {
  text-align: right; }

.bigcol {
  margin: 50px; }

.row-bg {
  background-color: #233256; }

.bigimg {
  height: 550px;
  object-fit: contain; }

.bg-blue {
  background-color: #233256;
  padding: 2px 16px; }

.my-form {
  padding: 40px;
  border-radius: 6px;
  background-color: white; }

label {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 14px; }

input {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 6px;
  height: 36px;
  width: 300px;
  margin: 6px 0; }

.success-message {
  color: #2b562b;
  padding: 12px;
  border: 1px solid #97b398;
  background-color: #d9ecdb;
  border-radius: 3px;
  margin-bottom: 18px; }

.error-message {
  color: #c5352a;
  padding: 12px;
  border: 1px solid #eec8cb;
  background-color: #f3d8da;
  border-radius: 3px;
  margin-bottom: 18px; }

ul {
  list-style-type: none; }

.button {
  color: white;
  font-size: 14px;
  background-color: #3c5175;
  display: block;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  width: 160px;
  height: 50px;
  margin: auto;
  margin: 18px auto 0;
  box-shadow: none;
  border: none; }

.enterButton {
  color: #fcf8ec;
  border-radius: 4px;
  background-color: #5fa7b3;
  text-align: center;
  text-decoration: none;
  width: 160px;
  height: 50px;
  padding: 15px;
  margin: auto;
  box-shadow: none; }

.myFooter {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 16px;
  text-align: center;
  color: #b5d3de;
  background-color: #233256;
  display: flex;
  align-items: flex-end; }

h2 {
  margin-bottom: 24px; }

p {
  margin-bottom: 0px;
  font-family: "Lato", sans-serif;
  font-size: 12px; }

.mood-grid {
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0; }

.keyword {
  padding: 20px;
  border-radius: 100px;
  background-color: #233256;
  font-family: Shrikhand;
  font-size: 17px; }

.key-layout {
  margin: 0px;
  padding: 0px;
  text-align: center; }

.cercle-text {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  height: 170px;
  width: 170px; }
  .cercle-text:hover, .cercle-text:active {
    color: lightblue;
    text-decoration: none; }

@media (max-width: 576px) {
  .mood-grid {
    flex-direction: column; } }

/*# sourceMappingURL=style.css.map */