body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.my-container {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

// .nav-text {
//   color: #fcf8ec;
// }

// a {
//   color: #fcf8ec;
// }

// a:hover {
//   color: #f2ea87;
// }

.justify-content-end {
  justify-content: flex-end;
}

.menu-nav {
  text-align: right;
}

// .collapse-btn {
//   border: 1px solid #b5d3de;
// }

// .bigcol {
//   background-color: red;
// }

.row-bg {
  background-color: #233256;
}
.bigimg {
  height: 550px;
  object-fit: contain;
}
.bg-blue {
  background-color: #233256;
  padding: 2px 16px;
}

.block {
  display: block;
}

label {
  display: block;
}

ul {
  list-style-type: none;
}

.button {
  color: #fcf8ec;
  display: block;
  border-radius: 4px;
  background-color: #5fa7b3;
  text-align: center;
  text-decoration: none;
  width: 160px;
  height: 50px;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 2px 2px #262d3f;
}

footer {
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px 16px;
  text-align: center;
  color: #b5d3de;
  background-color: #233256;
}

p {
  margin-bottom: 0px;
}
