<div class="row row-bg bg-100 centerLog body-star containerFixed">

  <div class="col-6 col-12 d-flex justify-content-center flex-column align-items-center">
    <div class="my-form shadow">
      <h1>Log In</h1>

      {{> flash_messages}}

      <form action="/process-login" method="POST">
        <label>
          Username:<br />
          <input type="text" name="userName" placeholder="lovelace" />
        </label>

        <label>
          Password:<br />
          <input type="password" name="originalPassword" placeholder="password" />
        </label>

        <button class="button">Log In</button>
      </form>
    </div>
  </div>
</div>