<div class="row row-bg bg-100 centerLog body-star containerFixed">

  <div class="col-6 col-12 d-flex justify-content-center flex-column align-items-center">
    <div class="my-form shadow">
      <h1>Sign Up</h1>

      {{> flash_messages}}

      <form action="/process-signup" method="POST">
        <label>
          Username:<br />
          <input type="text" name="userName" placeholder="Ada Lovelace" minlength="2" required />
        </label>

        <label>
          Email:<br />
          <input type="text" name="email" placeholder="ada@example.com" required />
        </label>

        <label>
          Password:<br />
          <input type="password" name="originalPassword" placeholder="password" required />
        </label>
        <button class="button">Sign Up</button>
      </form>
    </div>
  </div>
</div>